*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    margin: 35px 0;
}
header input{
    color: #5E00A3;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
header div{
    color:#000000;
    font-size: 16px;
    float: left;
}
body{
    display:flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#timer{
    color:#5E00A3;
    float: right;
    font-size: 16px;
}

body button{
    background-color: #5E00A3;
    border-radius: 10px;
    color: #eeeeee;
    text-align: left;
    font-size: 14px;
    padding: 5px;
    width: 170px;
    cursor: pointer;
    
}

br{
    display:block;
    content:"";
    margin-top: 5px;
}

#highScores{
    margin-top:10px;
    padding:10px;
}
.startPage button{
    display: inline-block;
    background-color: #5E00A3;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 170px;
    cursor: pointer;
}
.startPage button:hover{
    box-shadow: 10px 5px 5px #eeeeee;
    background-color: #DA7DEC; 
}
.startPage {
    display:flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }